{% extends "base.html.twig"%}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5">Create Form</h3>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="col-md-6 offset-md-3">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{form_label(form.title, 'Name')}}
                        {{ form_widget(form.title,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="form-group">
                        {{form_label(form.content, 'Task')}}
                        {{ form_widget(form.content,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="form-group">
                        <button class="btn btn-info mt-2 text-white">Submit</button>
                          <a href="{{ path('main') }}" class="btn btn-secondary mt-2">Go back</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}