{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
      {% for message in app.flashes('notice') %}
                <div class="alert alert-success mt-5 mb-5">
                    {{ message }}
                </div>
            {% endfor %}

  <div class="d-flex justify-content-center mb-3 mt-5">
      <a class="btn btn-primary" href="{{ path('create') }}">Create New Task</a>
    </div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name </th>
      <th scope="col">Task</th>
      <th scope="col">Update or Remove task </th>
    </tr>
  </thead>
  <tbody>

    {% for data in list %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{ data.title }}</td>
      <td>{{ data.content }}</td>
      <td>
        <a class="btn btn-warning" href="{{ path('update', {'id': data.id }) }}">Update</a>
        <a class="btn btn-danger" href="{{ path('delete', {'id': data.id }) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
